<% provide(:info_bg, "/assets/post-bg.jpg") %>
<% content_for :info_header do %>
    <div class="post-heading">
        <h1><%= @article.title %></h1>
        <!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->
        <span class="meta">Posted by <%= link_to @article.user.nickname, user_path(@article.user) %> on <%= @article.created_at.to_date.to_formatted_s :long %></span>
    </div>
<% end %>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div id="editormd-preview">
            <textarea style="display:block;"><%= @article.content %></textarea>               
        </div>

        <h2>Comments</h2>
        <%= render @article.comments %>

        <h2>Add a comment:</h2>
        <%= render 'comments/form' %>

        <%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Back', articles_path %>
    </div>
</div>
