<% provide(:info_bg, asset_path("post-bg.jpg")) %>
<% content_for :info_header do %>
    <div class="post-heading">
        <h1><%= @article.title %></h1>
        <!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->
        <span class="meta">Posted by <%= link_to @article.user.nickname, user_path(@article.user) %> on <%= @article.created_at.to_date.to_formatted_s :long %></span>
    </div>
<% end %>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div id="editormd-preview">
            <textarea style="display:block;"><%= @article.content %></textarea>               
        </div>
        <div class="content-footer">
            <em>Last updated: <%= @article.updated_at.to_date.to_formatted_s :long %></em>
            <% if current_user == @article.user %>
                | <%= link_to 'EDIT', edit_article_path(@article) %>
            <% end %>
        </div>
        
        <%= render 'article_comments' %>
    </div>
</div>
