<% provide(:title, "Edit user") %>
<% provide(:submit_content, "Save changes") %>
<% provide(:info_bg, asset_path("about-bg.jpg")) %>
<% content_for :info_header do %>
    <div class="site-heading">
        <h2>Update your profile</h2>
    </div>
<% end %>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <%= render 'form' %>
        
        <%= gravatar_for @user %>
        <%= link_to "change", "http://gravatar.com/emails", target: '_blank' %>
        <br>
        
        <%= link_to 'Show', @user %> |
        <%= link_to 'Back', users_path %>
    </div>
</div>
