<% provide(:title, @user.nickname) %>
<div class="row">
    <aside class="col-md-3">

        <section>
            <%= render 'shared/user_info', object: @user %>
        </section>
        <section>
            <%= render 'shared/stats' %>
        </section>
        <section>
            <%= link_to "Post", new_article_path, class: "btn btn-primary" %>
        </section>
    </aside>
    <div class="col-md-9">
        <%= render 'follow_form' if signed_in? %>
        <% if @user.articles.any? %>
            <h3>Articles (<%= @user.articles.count %>)</h3>
            <ol class="articles">
                <%= render @articles %>
            </ol>
            <%= will_paginate @articles %>
        <% end %>
    </div>
</div>