<% provide(:title, @user.nickname) %>
<% provide(:info_bg, asset_path("about-bg.jpg")) %>
<% content_for :info_header do %>
    <div class="site-heading">
    </div>
<% end %>

<div class="row">
    <aside class="col-md-2">
        <section class="user-info">
            <%= render 'shared/user_info', object: @user %>
        </section>
        <section>
            <%= render 'shared/stats' %>
        </section>
        <section>
            <% if signed_in? %>
                <% if current_user?(@user) %>
                    <%= link_to "Post", new_article_path, class: "btn btn-primary" %>
                <% else %>
                    <%= render 'follow_form' %>
                <% end %>
            <% end %>
        </section>
    </aside>
    <div class="col-md-10">
        <% if @user.articles.any? %>
            <h3>Articles (<%= @user.articles.count %>)</h3>
            <ol class="article-list">
                <%= render @articles %>
            </ol>
            <%= will_paginate @articles %>
        <% end %>
    </div>
</div>