<% provide(:title, @user.nickname) %>
<div class="row">
    <aside class="col-md-4">
        <p id="notice"><%= notice %></p>

        <%= gravatar_for @user %>

        <p>
          <strong>Email:</strong>
          <%= @user.username %>
        </p>

        <p>
          <strong>Nickname:</strong>
          <%= @user.nickname %>
        </p>
        
        <%= link_to 'Edit', edit_user_path(@user) %> |
        <%= link_to 'Back', users_path %>
    </aside>
    <div class="col-md-8">
        
    </div>
</div>