<a href="<%= user_path object %>">
    <%= gravatar_for object, size:52 %>
</a>
<h1>
    <%= object.nickname %>
</h1>
<span>
    <%= link_to "View my profile", object %>
</span>

<span>
  <%= pluralize(object.articles.count, "article") %>
</span>