<% content_for :info_header do %>
    <div class="site-heading">
        <h1>Photo Blog</h1>
        <hr class="small">
        <span class="subheading">A Personal Blog by Chris Chen</span>
    </div>
<% end %>

<% if signed_in? %>
    <div class="row">
        <aside class="col-md-3">
            <section>
                <%= render 'shared/user_info', object: current_user %>
            </section>
            <section>
                <%= render 'shared/stats' %>
            </section>
            <section>
                <%= link_to "Post", new_article_path, class: "btn btn-primary" %>
            </section>
        </aside>
        <div class="col-md-9">
            <%= render 'shared/feed' %>
        </div>
    </div>
<% else %>
    <% provide(:info_bg, "/assets/home-bg.jpg") %>
    
    <%= render 'shared/feed' %>
<% end %>

