<% if signed_in? %>
    <div class="row">
        <aside class="col-md-3">
            <section>
                <%= render 'shared/user_info', object: current_user %>
            </section>
            <section>
                <%= render 'shared/stats' %>
            </section>
            <section>
                <%= link_to "Post", new_article_path, class: "btn btn-primary" %>
            </section>
        </aside>
        <div class="col-md-9">
            <%= render 'shared/feed' %>
        </div>
    </div>
<% else %>
    <h1>Hello Rails</h1>
    <%= link_to 'My Blog', controller: 'articles' %>
<% end %>

