<% if signed_in? %>
    <% provide(:info_bg, asset_path("about-bg.jpg")) %>
    <% content_for :info_header do %>
        <div class="site-heading">
        </div>
    <% end %>
    <div class="row">
        <aside class="col-md-3">
            <section class="user-info">
                <%= render 'shared/user_info', object: current_user %>
            </section>
            <section>
                <%= render 'shared/stats' %>
            </section>
            <section>
                <%= link_to "Post", new_article_path, class: "btn btn-primary" %>
            </section>
        </aside>
        <div class="col-md-9">
            <%= render 'shared/feed' %>
        </div>
    </div>
<% else %>
    <% provide(:info_bg, asset_path("home-bg.jpg")) %>
    <% content_for :info_header do %>
        <div class="site-heading">
            <h1>Photo Blog</h1>
            <hr class="smallhr">
            <span class="subheading">A Personal Blog by Chris Chen</span>
        </div>
    <% end %>
    <%= render 'shared/feed' %>
<% end %>

